body {
    font-family: Avenir ,"ŸàƒSƒVƒbƒN", "Yu Gothic","Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ƒƒCƒŠƒI", Meiryo, "‚l‚r ƒSƒVƒbƒN", sans-serif;
    font-size: 15px;
    line-height: 1.8;
    letter-spacing: 0.05em;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h1, h2, h3, h4{
    margin-bottom: 1em;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 20px;
}

a {
    text-decoration: none;
}

.container {}

.logo svg{
    width: 75px;
    height: 40%;
    vertical-align: center;
}

.inner {
    margin: 0 auto;
    text-align: center;
}

header > .inner{
    margin: 1em auto;
}

header + section {
    margin-top: 6em;
}

#fixed{
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background: white;
    border-bottom: 1px solid #d4d4d4;
    z-index: 5;
}
.navigation ul {
    position: absolute; 
    list-style-type: none;
    top: 20px;
}

.navigation ul.left {
    margin-left: -275px;
    left: 50%;
}

.navigation ul.right {
    margin-right: -350px;
    right: 50%;
}


.navigation li {
    display: inline-block;
}

.navigation li a {
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px 5px;
    color: #202123;
}

.navigation li a:hover {
    color: #f0669d;
}
.navigation li a.active {
    color: #f0669d;
}

#about_home{
    position: relative;
    float: left;
    background: url('../images/about.jpg');
    width: 50%;
    height: 400px;
    left: 1.5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

#about { 
    padding: 30px 0 100px;
}
#news {
    padding: 30px 0 120px;
}

#about .desc {
    position: relative;
    margin-top: 35px;
    float: left;
    width: 50%;
    background: #ff7b26;
    height: 400px;
    left: -1.5%;
}


#about .desc .inner {
    margin-top: 5em;
    color: white;
    width: 75%;
    vertical-align: middle;
    text-align: center;
}

#about .desc .inner h1:after{
    content:' '; 
    display: block;
    width:62px;
    height:1px;
    margin:10px auto 0;
    background: white;
}


#about .desc .inner p {
    margin-bottom: 20px;
}


#about .desc .inner .btn{
    border: 1px solid white;
    color: white;
}

#about .inner a.btn:hover{
    border: 1px solid white;
    color: #ff7b26;
    background: white;
}

#news .inner {
    width: 100%;
    max-width: 800px;
}

#news h1:after{
    content:' '; 
    display: block;
    width:62px;
    height:1px;
    margin:10px auto 0;
    background: #202123;
}

.newslist li:first-child{
    border-top: 1px solid #d8d8d8;
}

.newslist li {
    border-bottom: 1px solid #d8d8d8;
    padding: 30px;
    text-align: left;
}

.newslist li:hover {
    background: #f7f7f7;
    cursor: pointer;
}
.newslist li:hover p.title{
    color: #f0669d;
}

.newslist li span.date{
    color: #afafaf;
}

.newslist li span.title{
    color: #afafaf;
}

.clearfix{
    clear: both;
}

.btn{
    padding: 1em 2em;
}
small {
    font-size: 12px;
}
footer {
    background: #202123;
    padding: 50px 0 50px;
    color: #ccc;

}